@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--nunito), var(--kanit);
  font-size: 16px;
  font-weight: 300;
}

[lang|="th"] {
  font-family: var(--kanit), sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
