@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--nunito), var(--kanit);
  font-size: 16px;
  font-weight: 300;
}

[lang|="th"] {
  font-family: var(--kanit), sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.bg-content1 {
  background-color: #f0f0f0;
  box-shadow: none;
}

.bg-default-100 {
  background-color: #d4d4d8;
}
